.item {
}

.item:last-of-type {
}

.users {
  margin: -12px 0 40px;

}

.buttonsContainer {
  margin: 33px 227px;

}

.container {
  margin: 0 70px;
  table {
    width: 20px;
  }
}

.thead {
  display: block;
  position: inherit;
  height: 36px;
  background: #E5E5E5;

  width: 590px;

}

.nameCol {
  display: block;
  margin: 11px 218px 11px 17px;
}

.ageCol {
}