.sendForm {
  /*border: 1px solid;*/
  display: flex;
  justify-content: space-between;
  margin: 0 70px;
  align-items: baseline;

  .textarea {
    display: block;
    background-color: #F5F7FB;
    border-radius: 20px;
    width: 100%;
    min-height: 40px;

    overflow: hidden;
    resize: none;
    padding: 11px 0 11px 24px;
  }

  textarea::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
    padding: 0 24px;


  }


  .button {

    background-color: #0066CC;

    border: none;
    border-radius: 20px;

    color: white;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0;
    padding: 10px 40px;

    margin: 20px;

    &:hover {

    }

    &:active {

    }
  }

}



